# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env

# IDE or editor specific files
.idea/
.vscode/
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Test and coverage reports
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.log

# Pytest cache
.cache/
pytest_cache/

# Environment variables file
.env
